.addStudent01{

}
.addStusentForm{
    color: #35D7FF; 
}
.formRow{
    margin-top: 1%;
    margin-bottom: 5%;
}
td {
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;   
  }
.studentFo01{
    color: #232CED;
} 
.img01{
    width: 80%;
    margin-bottom: 20%;
}